*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  color: white;
}

.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 650px 25px;
  color: #444;
}

.container {
  display: inherit;
  grid-gap: inherit;
  background-color: #ccc;
  color: #fff;
  border-radius: 35px;
}

.container > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 120%;
  /* needed for the floated layout*/
  margin-bottom: 10px;

/*------------------------------*/

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

/*-------------------------------*/

.autologouttimer {
  position: relative;
  margin: 0 auto;
  padding: 3px 0;
  width: 275px;
  height: 20px;
  background-color: transparent;
  text-align: center;
  -webkit-box-shadow: inset -2px -2px 0px 0px rgba(250,250,250,0.75);
  -moz-box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
  box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
  background-color: rgb(143, 143, 143);
  border-radius: 15px;
}

.color-blue {
  background-color: #00bbff;
}

.progressbar {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 5px;
  width: 263px;
  height: 16px;
  border: 0px;
  border-radius: 15px;
}

.autologouttimer span {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #FFF;
  font-size: 12px;
  line-height: 12px;
  position: relative;
}

#progressbar-css {
  /* Change time here to make the animation longer */
  -webkit-animation: logouttiming 60s normal linear;
  -moz-animation: logouttiming 60s normal linear;
  animation: logouttiming 60s normal linear;
}

@-webkit-keyframes logouttiming {
  0% {
    width: 263px;
  }
  100% {
    width: 0;
  }
}

@-moz-keyframes logouttiming {
  0% {
    width: 263px;
  }
  100% {
    width: 0;
  }
}

@keyframes logouttiming {
  0% {
    width: 263px;
  }
  100% {
    width: 0;
  }
}

