*, *:before, *:after {
  box-sizing: border-box;
}

/*----------------body styling---------------*/

body {
  font-size: 20px;
  font-family: sans-serif;
  background-color: #CDD1C4;
  color: #FFF;

}

img {
  width: 100%;
  position: relative;
  bottom: 0;
}

/*body {
  margin: 0;
  color: #ccc;
}
*/


/*----------------CSS GRID------------------*/
.container {
background-image: url(/assets/images/MosEisley-SWBRS.jpg);
}

.game-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 100px 1fr auto;
  background-color: #30323D;
  border-radius: 25px;
  margin: 35px;
}

.title {
  grid-column: 1;
  grid-row: 1;
  }

.sidebar {
  padding: 15px;
  margin-top: 100px;
  text-align: center;
  grid-column: 1;
  grid-row: 2 / span 2;
}

.game-area {
  grid-column: 2;
  grid-row: 1 / span 2;
    padding: 20px;
  }

.footer {
  grid-column: 2;
  grid-row: 3;
    padding: 20px;
  }

.question{
  font-weight: 200;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

.answers {
  margin-bottom: 20px;
}

/*----------------------button stlying..................*/
#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #E8C547;
  color: #30323D;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #4D5061;
  color: #E8C547;
}
